<li>
	{{burger_name}}
  {{#if devoured}}
  {{else}}
	<button class="devour" data-id="{{id}}" data-eat="{{devoured}}">
		EAT ME!
	</button>
  {{/if}}

  <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
